@charset "utf-8";
/* CSS Document */
*{margin:0;}
body{
	background:url(../images/body_bg.jpg);
	background-repeat:repeat-x repeat-y;
}
#cont{
	position:relative;
	width:1024px;
	height:960px;
	margin:0 auto;
	background-color:#203086;
}
#header{
	background:url(../images/header_banner.png) no-repeat;
	position:relative;
	width:inherit;
	height:156px;
	z-index:2;
}
ul#top-nav{
	position:relative;
	float:right;
	right:16px;
	margin-top:12px;
}
ul#top-nav li{
	list-style:none;
	float:right;
}
ul#top-nav li a{
	color:#FFF;
	text-decoration:none;
	display:block;
	width:auto;
	padding:0px 10px 10px 10px;
	text-align:center;
	font-family:Arial;
	font-size:15px;
	height:20px;
	outline:none;
}
ul#top-nav li a:hover{
	text-decoration:underline;
}
ul#top-nav li img.dias{
	position:relative;
	padding:5px 5px 5px 0px;
}
ul#like_btns{
	position:relative;
	float:right;
	top:100px;
	right:-457px;
}
ul#like_btns li{
	list-style:none;
	float:left;
	padding:0px 10px 10px 0px;
}
ul#like_btns li a img{
	outline:none;
	border:none;
}
ul#like_btns li a img:hover{
	position:relative;
	top:1px;
}
ul#like_btns li input[type="text"]{
	position:relative;
	top:2px;
	border:1px solid #DADADA;
	width:170px;
	height:22px;
	border-radius:5px;
}
#content{
	background-color:#2946a5;
	position:relative;
	width:inherit;
	height:605px;
}
#content #menu{
	position:relative;
	background:url(../images/body_nav_bg.png) no-repeat;
	width:808px;
	height:57px;
	margin:0 auto;
	top:-2px;
	z-index:1;
}
ul#nav{
	position:relative;
	width:555px;
	top:20px;
	margin:0 auto;
}
ul#nav li{
	float:left;
	list-style:none;
}
ul#nav li a{
	display:block;
	width:100px;
	text-align:center;
	color:#FFF;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 1px #000;
	outline:none;
}
ul#nav li a:hover{
	font-size:16px;
	color:#FF0;
}
img.kaboda{
	position:relative;
	top:-10px;
}
#tab1{
	position:relative;
	width:1005px;
	height:512px;
	top:27px;
	margin:0 auto;
	background-color:#FFF;
	border-radius:5px;
}
#slide{
	position:relative;
	width:1000px;
	height:214px;
	top:5px;
	margin:0 auto;
}
#info{
	position:relative;
	background-color:#2946a5;
	width:995px;
	height:290px;
	margin:0 auto;
	border-radius:10px;
}
#left{
	position:relative;
	float:left;
	padding:15px 15px;
}
#right{
	position:relative;
	float:right;
	width:580px;
}
span h3{
	color:#FFF;
	padding-top:10px;
	font-family:Arial;
	font-size:23px;
	font-style:italic;
	font-weight:200;
	text-align:center;
	display:block;
	width:500px;
}
#atten{
	color:#FF0;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	display:block;
	width:500px;
}
#owner{
	position:relative;
	width:420px;
	color:#FFF;
	font-family:Arial;
	font-size:18px;
	font-style:italic;
	text-align:center;
	margin:0 auto;
}